<div id="<%= dom_id shopper %>">
  <p>
    <strong>First name:</strong>
    <%= shopper.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= shopper.last_name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= shopper.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= shopper.state %>
  </p>

  <p>
    <strong>Address line 1:</strong>
    <%= shopper.address_line_1 %>
  </p>

  <p>
    <strong>Address line 2:</strong>
    <%= shopper.address_line_2 %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= shopper.zip_code %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= shopper.email_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= shopper.phone_number %>
  </p>

</div>
