<% javascript_pack_tag "checkout" %>

<%= form_with(model: order) do |form| %>
<div class="form-block">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>
<div class="form-block">
</div>
<div class="form-block">
  <%= form.label :address_line_1 %>
  <%= from.text_field :address_line_1 %>
</div>
<div class="form-block">
  <%= form.label :address_line_2 %>
  <%= form.text_field :address_line_2 %>
</div>
<div class="form-block">
  <%= form.label :city %>
  <%= form.text_field :city %>
  <%= form.label :state %>
  <%= form.text_field %>
</div>
<div class="form-block">
  <%= form.label :zipcode %>
  <%= form.text_field :zipcode %  >
</div>
<div class="form-block" >
  <%= form.subit %>
</div>
<% end %>
    <form id="payment_form">
      <div id="payment_element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
