<section>
  <% @order.line_items.each do |line_item| %>
  <div>
  <%= line_item.product.name %>
  $ <%= (line_item.product.price * line_item.quantity) / 100.0 %>
  </div>
  <% end %>
  <div>
    <span>Sub Total: $$$</span>
  </div>
  <div>
    <span>Shipping: $$$</span>
  </div>
  <div>
    <span>Total: $$$</span>
  </div>
</section>
<section>
<%= form_for @order do |form| %>
<div class="form-block">
  <div>
    <h3>Contact Info</h3>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="form-block">
    <%= form.label :email_address %>
    <%= form.text_field :email_address %>
  </div>
</div>
<div>
  <h3>Shipping Address</h3>
  <div class="form-block">
    <%= form.label :address_line_1 %>
    <%= form.text_field :address_line_1 %>
  </div>
  <div class="form-block">
    <%= form.label :address_line_2 %>
    <%= form.text_field :address_line_2 %>
  </div>
  <div class="form-block">
    <%= form.label :city %>
    <%= form.text_field :city %>
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>
  <div class="form-block">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>
</div>
<div class="form-block">
  <%= form.submit "Continue to Payment" %>
</div>
<% end %>
</section>
