<tr id="<%=dom_id product %>">
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= product.sku %>
  </td>
  <td>
    <%= product.price %>
  </td>
  <td>
    <%= product.is_active %>
  </td>
  <td>
    <%= link_to "View", product %>
  </td>
</tr>
